# SPDX-License-Identifier: GPL-2.0-or-later

# Script for stm32mp25x DISCO board

source [find interface/stlink-dap.cfg]

transport select dapdirect_swd

source [find target/stm32mp25x.cfg]

reset_config srst_only
